{% extends 'admin-base.html.twig' %}

{% block body %}
	<div class="wrapper">
		{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
		{{ form_widget(form) }}
		{{ form_end(form) }}
	</div>
{% endblock %}

{% block headerAssets %}
	{{ parent() }}
<!-- 	  <script src="{{ asset('/js/tinymce/tinymce.min.js') }}"></script> -->
<!-- 	  <script>
		  tinymce.init({
			  selector: '#form_content',
			  language: 'fr_FR'
		  });
	  </script> -->
	  <script src="{{ asset('/js/ckeditor/ckeditor.js') }}"></script>
{% endblock %}

{% block footerAssets %}
	{{ parent() }}
    <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace( 'form_content' );
    </script>
{% endblock %}